trunk/EzTravelWebBased/EzTravelWeb/Service References/SessionService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getDeviceID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDeviceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDeviceIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setDeviceChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setDeviceChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setDeviceChannelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>