trunk/EzTravelWebBased/EzTravelWeb/Service References/localService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://static.237.195.4.46.clients.your-server.de/EZTravelWCF/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFLocalBus" />
  <xs:import schemaLocation="http://static.237.195.4.46.clients.your-server.de/EZTravelWCF/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetBusStop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="busID" type="xs:int" />
        <xs:element minOccurs="0" name="startLat" type="xs:double" />
        <xs:element minOccurs="0" name="startLong" type="xs:double" />
        <xs:element minOccurs="0" name="endLat" type="xs:double" />
        <xs:element minOccurs="0" name="endLong" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusStopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFLocalBus" minOccurs="0" name="GetBusStopResult" nillable="true" type="q1:ArrayOfbusStop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="journeyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFLocalBus" minOccurs="0" name="GetPathResult" nillable="true" type="q2:ArrayOfPathLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveMarkerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveMarkerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFLocalBus" minOccurs="0" name="retrieveMarkerInfoResult" nillable="true" type="q3:ArrayOfDBMarker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJourney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJourneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJourneyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLocationResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retriveItinerary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="journeyID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retriveItineraryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFLocalBus" minOccurs="0" name="retriveItineraryResult" nillable="true" type="q5:ArrayOfItinerary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>