trunk/EzTravelWebBased/EzTravelWeb/Service References/localService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFLocalBus" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFLocalBus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfbusStop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="busStop" nillable="true" type="tns:busStop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfbusStop" nillable="true" type="tns:ArrayOfbusStop" />
  <xs:complexType name="busStop">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusStopName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="busStop" nillable="true" type="tns:busStop" />
  <xs:complexType name="ArrayOfPathLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PathLocation" nillable="true" type="tns:PathLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPathLocation" nillable="true" type="tns:ArrayOfPathLocation" />
  <xs:complexType name="PathLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusServiceNum" type="xs:int" />
      <xs:element minOccurs="0" name="EndLatitude" type="xs:double" />
      <xs:element minOccurs="0" name="EndLongitude" type="xs:double" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="StartLatitude" type="xs:double" />
      <xs:element minOccurs="0" name="StartLongitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PathLocation" nillable="true" type="tns:PathLocation" />
  <xs:complexType name="ArrayOfDBMarker">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DBMarker" nillable="true" type="tns:DBMarker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDBMarker" nillable="true" type="tns:ArrayOfDBMarker" />
  <xs:complexType name="DBMarker">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarkerID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DBMarker" nillable="true" type="tns:DBMarker" />
  <xs:complexType name="ArrayOfItinerary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Itinerary" nillable="true" type="tns:Itinerary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItinerary" nillable="true" type="tns:ArrayOfItinerary" />
  <xs:complexType name="Itinerary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Itinerary" nillable="true" type="tns:Itinerary" />
</xs:schema>